/* respostas do flexblox froggy

level 1 {
    display: flex;
    justify-content: end;
}

level 2 {
    display: flex;
    justify-content: center;
}

level 3 {
    display: flex;
    justify-content: space-around;
}

level 4 {
    display: flex;
    justify-content: space-between;
}

level 5 {
    display: flex;
    align-items: end;
}

level 6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

level 7 {
    display: flex;
    justify-content: space-around;
    align-items: end;
}

level 8 {
    display: flex;
    flex-direction: row-reverse;
}

level 9 {
    display: flex;
    flex-direction: column;
}

level 10 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

level 11 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

level 12 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

level 13 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: end;
}

level 14 {
    display: flex;
}

.yellow {
    order: 1;
}

level 15 {
    display: flex;
}

.red {
    order: -1;
}

level 16 {
    display: flex;
    align-items: flex-start;
}

.yellow {
    align-self: end;
}

level 17 {
    display: flex;
    align-items: flex-start;
}

.yellow {
    order: 1;
    align-self: end;
}

level 18 {
    display: flex;
    flex-wrap: wrap;
}

level 19 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

level 20 {
    display: flex;
    flex-flow: column wrap;
}

level 21 {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

level 22 {
    display: flex;
    flex-wrap: wrap;
    align-content: end;
}

level 23 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

level 24 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}